In [2]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [3]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

In [4]:
# Display the 2020 sales DataFrame
print("Athletic Sales 2020:")
display(df_2020.head())

Athletic Sales 2020:

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [5]:
# Display the 2021 sales DataFrame
print("Athletic Sales 2021:")
display(df_2021.head())

Athletic Sales 2021:

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [6]:
# Check the 2020 sales data types.
print("Data Types for 2020:")
print(df_2020.dtypes)

Data Types for 2020:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [7]:
# Check the 2021 sales data types.
print("Data Types for 2021:")
print(df_2021.dtypes)

Data Types for 2021:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [8]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [9]:
# Check if any values are null.
null_values = combined_df.isnull().sum()
print(null_values)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [10]:
any_nulls = combined_df.isnull().values.any()
print(any_nulls)

False

In [11]:
# Check the data type of each column
column_data_types = combined_df.dtypes
print(column_data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [12]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])
print(combined_df.dtypes)

C:\Users\Sandeep\AppData\Local\Temp\ipykernel_15048\4211569784.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

In [13]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [14]:
# Show the number products sold for region, state, and city.
sales_by_region = combined_df.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the sum to "Total_Products_Sold".
sales_by_region.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
sales_by_region_sorted = sales_by_region.sort_values(by='Total_Products_Sold', ascending=False)
# Show the top 5 results.
print(sales_by_region_sorted.head(5))

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [15]:
# Show the number products sold for region, state, and city.
pivot_products_sold = combined_df.pivot_table(
    values='units_sold',  
    index=['region', 'state', 'city'], 
    aggfunc='sum',  
    fill_value=0  
).reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_products_sold.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
pivot_products_sold_sorted = pivot_products_sold.sort_values(by='Total_Products_Sold', ascending=False)

# Show the top 5 results.
print(pivot_products_sold_sorted.head(5))

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [16]:
# Show the total sales for the products sold for each region, state, and city.
sales_by_region = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
sales_by_region.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
sales_by_region_sorted = sales_by_region.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
print(sales_by_region_sorted.head(5))

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each region, state, and city.
pivot_sales = combined_df.pivot_table(
    values='total_sales',  
    index=['region', 'state', 'city'],  
    aggfunc='sum',  
    fill_value=0  
).reset_index()
# Optional: Rename the "total_sales" column to "Total Sales"
pivot_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
pivot_sales_sorted = pivot_sales.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
print(pivot_sales_sorted.head(5))

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [18]:
# Show the total sales for the products sold for each retailer, region, state, and city.
sales_by_retailer = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()


# Rename the "total_sales" column to "Total Sales"
sales_by_retailer.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
sales_by_retailer_sorted = sales_by_retailer.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
print(sales_by_retailer_sorted.head(5))

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [19]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_sales = combined_df.pivot_table(
    values='total_sales',  
    index=['retailer', 'region', 'state', 'city'],  
    aggfunc='sum',  
    fill_value=0  
).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
pivot_sales_sorted = pivot_sales.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
print(pivot_sales_sorted.head(5))

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [20]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_df = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [21]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_sales = womens_footwear_df.groupby(['retailer','region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

womens_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
womens_footwear_sales_sorted = womens_footwear_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 5 results.

print(womens_footwear_sales_sorted.head(5))

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [22]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_df = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

pivot_units_sold = womens_footwear_df.pivot_table(
    values='units_sold',  
    index=['retailer', 'region', 'state', 'city'],  
    aggfunc='sum',  
    fill_value=0  
).reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

pivot_units_sold.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
pivot_units_sold_sorted = pivot_units_sold.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 5 results.
print(pivot_units_sold_sorted.head(5))

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [48]:
womens_footwear_df = combined_df[combined_df['product'] == "Women's Athletic Footwear"]
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_sales_by_date = womens_footwear_df.pivot_table(
    values='total_sales',  
    index='invoice_date',  
    aggfunc='sum',  
    fill_value=0  
).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_sales_by_date.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
pivot_sales_by_date_sorted = pivot_sales_by_date.sort_values(by='Total Sales', ascending=False)

# Show the table.
print(pivot_sales_by_date_sorted.head(10))

    invoice_date  Total Sales
227   2021-07-16      1521825
344   2021-12-16      1473497
206   2021-06-17      1376988
250   2021-08-17      1086294
233   2021-07-23      1021806
323   2021-11-17      1021145
338   2021-12-09       915011
212   2021-06-24       884238
221   2021-07-09       869054
244   2021-08-10       839120

In [40]:
# Resample the pivot table into daily bins, and get the total sales for each day.
pivot_sales_by_date['invoice_date'] = pd.to_datetime(pivot_sales_by_date['invoice_date'])
pivot_sales_by_date.set_index('invoice_date', inplace=True)

weekly_sales = pivot_sales_by_date.resample('W').sum()

# Sort the resampled pivot table in descending order on "Total Sales".

top_10_weeks = weekly_sales.sort_values(by='Total Sales', ascending=False).head(10)

In [49]:
print(top_10_weeks.head(10))

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [50]:
pivot_sales_by_date['invoice_date'] = pd.to_datetime(pivot_sales_by_date['invoice_date'])
pivot_sales_by_date.set_index('invoice_date', inplace=True)
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_sales_by_date.resample('W').sum()
# Sort the resampled pivot table in descending order on "Total Sales".
weekly_sales_sorted = weekly_sales.sort_values(by='Total Sales', ascending=False)

In [51]:
print(weekly_sales_sorted.head(10))

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602